*{
    margin: 0;
    padding: 0;
}
.main {
    background-image: url("assets/images/bg.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: max(1500px, 100vw);
    height: 80vh;
    position: relative;
}
.main .box {
    height: 80vh;
    width: 100%;
    background-color: black;
    opacity: 0.5;
    position: absolute;
    top: 0;
}
nav {
    max-width: 80vw;
    height: 60px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: aquamarine;
}