<<<<<<< HEAD
body{
    background-color: rgb(170, 199, 197);
    color: #f4f4f4;
=======
body{
    background-color: rgb(170, 199, 197);
    color: #f4f4f4;
>>>>>>> 642734144e1045954e26687f17c269435349dd7a
}